/* line 3, ../sass/header.scss */
header {
  width: 100%;
  background: #b1b8ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b1b8ff 0%, #c9d2ff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b1b8ff), color-stop(100%, #c9d2ff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b1b8ff 0%, #c9d2ff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b1b8ff 0%, #c9d2ff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b1b8ff 0%, #c9d2ff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #b1b8ff 0%, #c9d2ff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  padding-bottom: 7px;
}
/* line 7, ../sass/header.scss */
header .logo {
  display: block;
  background: url(../../images/icons.png) top left no-repeat;
  height: 66px;
  width: 206px;
  float: left;
  margin-top: 5px;
}
