/* line 3, ../sass/mainpage.scss */
.media-list {
  list-style-type: none;
  float: right;
  margin-top: 11px;
}
/* line 8, ../sass/mainpage.scss */
.media-list li {
  float: left;
  margin-left: 40px;
  height: 50px;
  width: 50px;
}
/* line 14, ../sass/mainpage.scss */
.media-list li a {
  display: block;
  height: 100%;
  width: 100%;
}
/* line 20, ../sass/mainpage.scss */
.media-list li.twitter {
  background: url(../../images/icons.png) -127px -79px no-repeat;
}
/* line 22, ../sass/mainpage.scss */
.media-list li.twitter:hover {
  background: url(../../images/icons.png) -129px -155px no-repeat;
}
/* line 26, ../sass/mainpage.scss */
.media-list li.video {
  background: url(../../images/icons.png) -12px -79px no-repeat;
}
/* line 28, ../sass/mainpage.scss */
.media-list li.video:hover {
  background: url(../../images/icons.png) -13px -155px no-repeat;
}
/* line 32, ../sass/mainpage.scss */
.media-list li.wcl {
  background: url(../../images/icons.png) -240px -79px no-repeat;
}
/* line 34, ../sass/mainpage.scss */
.media-list li.wcl:hover {
  background: url(../../images/icons.png) -241px -155px no-repeat;
}

/* line 41, ../sass/mainpage.scss */
.blurp {
  width: 100%;
  background: #4c8bce;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 8px black;
  text-align: center;
  color: #b7cbea;
}
/* line 54, ../sass/mainpage.scss */
.blurp strong {
  font-weight: bold;
  color: #fff;
}
/* line 61, ../sass/mainpage.scss */
.blurp .about1 {
  font-size: 24pt;
}
/* line 64, ../sass/mainpage.scss */
.blurp .about2 {
  font-size: 20pt;
}
/* line 67, ../sass/mainpage.scss */
.blurp.faetower {
  background-image: url("/images/backgrounds/randomBgs/faetower.png");
}
/* line 70, ../sass/mainpage.scss */
.blurp.mistvalley {
  background-image: url("/images/backgrounds/randomBgs/mistvalley.png");
}
/* line 73, ../sass/mainpage.scss */
.blurp.moonrise {
  background-image: url("/images/backgrounds/randomBgs/moonrise.png");
}
/* line 76, ../sass/mainpage.scss */
.blurp.shroomvalley {
  background-image: url("/images/backgrounds/randomBgs/shroomvalley.png");
}
/* line 79, ../sass/mainpage.scss */
.blurp.sunsetwillows {
  background-image: url("/images/backgrounds/randomBgs/sunsetwillows.png");
}
/* line 82, ../sass/mainpage.scss */
.blurp.zangarra {
  background-image: url("/images/backgrounds/randomBgs/zangarra.png");
}
