/* line 3, ../sass/mainpage.scss */
.media-list {
  list-style-type: none;
  float: right;
  margin-top: 11px;
}
/* line 8, ../sass/mainpage.scss */
.media-list li {
  float: left;
  margin-left: 40px;
  height: 50px;
  width: 50px;
}
/* line 14, ../sass/mainpage.scss */
.media-list li a {
  display: block;
  height: 100%;
  width: 100%;
}
/* line 20, ../sass/mainpage.scss */
.media-list li.twitter {
  background: url(../../images/icons.png) -127px -79px no-repeat;
}
/* line 22, ../sass/mainpage.scss */
.media-list li.twitter:hover {
  background: url(../../images/icons.png) -129px -155px no-repeat;
}
/* line 26, ../sass/mainpage.scss */
.media-list li.video {
  background: url(../../images/icons.png) -12px -79px no-repeat;
}
/* line 28, ../sass/mainpage.scss */
.media-list li.video:hover {
  background: url(../../images/icons.png) -13px -155px no-repeat;
}
/* line 32, ../sass/mainpage.scss */
.media-list li.wcl {
  background: url(../../images/icons.png) -240px -79px no-repeat;
}
/* line 34, ../sass/mainpage.scss */
.media-list li.wcl:hover {
  background: url(../../images/icons.png) -241px -155px no-repeat;
}

/* line 41, ../sass/mainpage.scss */
.blurp {
  width: 100%;
  background: #4c8bce;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 8px black;
  text-align: center;
  color: #b7cbea;
  padding: 60px 0 50px;
}
/* line 56, ../sass/mainpage.scss */
.blurp strong {
  font-weight: 600;
  color: #fff;
}
/* line 63, ../sass/mainpage.scss */
.blurp .about1 {
  font-size: 24pt;
  padding-bottom: 23px;
}
/* line 67, ../sass/mainpage.scss */
.blurp .about2 {
  font-size: 20pt;
  padding-bottom: 13px;
}
/* line 71, ../sass/mainpage.scss */
.blurp.faetower {
  background-image: url("/images/backgrounds/randomBgs/faetower.png");
}
/* line 74, ../sass/mainpage.scss */
.blurp.mistvalley {
  background-image: url("/images/backgrounds/randomBgs/mistvalley.png");
}
/* line 77, ../sass/mainpage.scss */
.blurp.moonrise {
  background-image: url("/images/backgrounds/randomBgs/moonrise.png");
}
/* line 80, ../sass/mainpage.scss */
.blurp.shroomvalley {
  background-image: url("/images/backgrounds/randomBgs/shroomvalley.png");
}
/* line 83, ../sass/mainpage.scss */
.blurp.sunsetwillows {
  background-image: url("/images/backgrounds/randomBgs/sunsetwillows.png");
}
/* line 86, ../sass/mainpage.scss */
.blurp.zangarra {
  background-image: url("/images/backgrounds/randomBgs/zangarra.png");
}

/* line 91, ../sass/mainpage.scss */
#nav-div {
  background: #b1b8ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b1b8ff 0%, #c9d2ff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b1b8ff), color-stop(100%, #c9d2ff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b1b8ff 0%, #c9d2ff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b1b8ff 0%, #c9d2ff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b1b8ff 0%, #c9d2ff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #b1b8ff 0%, #c9d2ff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}

/* line 97, ../sass/mainpage.scss */
#main-nav li {
  float: left;
  font-size: 20pt;
  font-weight: 600;
}
/* line 102, ../sass/mainpage.scss */
#main-nav li a {
  display: block;
  padding: 15px 20px;
  width: 100%;
  height: 100%;
  color: #214158;
  text-decoration: none;
}
/* line 110, ../sass/mainpage.scss */
#main-nav li a:hover {
  color: #307179;
}

/* line 117, ../sass/mainpage.scss */
#main-content {
  background: #abddfe;
  padding: 15px 0 20px;
  -webkit-box-shadow: inset 0px 9px 24px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 9px 24px -10px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 9px 24px -10px rgba(0, 0, 0, 0.75);
}

/* line 126, ../sass/mainpage.scss */
#killshots {
  padding-bottom: 10px;
}
/* line 129, ../sass/mainpage.scss */
#killshots .killshots-descript {
  float: left;
  width: 490px;
  margin-right: 15px;
}
/* line 134, ../sass/mainpage.scss */
#killshots .killshots-shot {
  float: left;
  position: relative;
}
/* line 138, ../sass/mainpage.scss */
#killshots .killshots-shot .img-descript {
  color: #c9d2ff;
  background: url("/images/backgrounds/semi-black.png") center center;
  position: absolute;
  bottom: 1px;
  padding: 10px 13px;
  width: 429px;
}
/* line 146, ../sass/mainpage.scss */
#killshots .killshots-shot .img-descript h4 {
  font-size: 17px;
  font-weight: normal;
  margin: 3px 0 8px;
}

/* line 158, ../sass/mainpage.scss */
.four-cols {
  float: left;
  width: 213px;
  border-left: 1px solid #214158;
  padding: 0 15px;
}
/* line 168, ../sass/mainpage.scss */
.four-cols.first {
  border: none;
  padding-left: 0;
}

/* line 174, ../sass/mainpage.scss */
.three-col {
  float: left;
  width: 300px;
  padding: 10px 15px;
}
/* line 179, ../sass/mainpage.scss */
.three-col.first {
  padding-left: 0;
}
/* line 182, ../sass/mainpage.scss */
.three-col.third {
  padding-right: 0;
}

/* line 187, ../sass/mainpage.scss */
#footer {
  background: #6c5ca0;
}
/* line 190, ../sass/mainpage.scss */
#footer h2 {
  color: #b8c2ff;
}
