/* line 1, ../sass/reset.scss */
html {
  margin: 0;
  padding: 0;
}

/* line 4, ../sass/reset.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/reset.scss */
div {
  margin: 0;
  padding: 0;
}
