/* line 4, ../sass/temerity.scss */
body {
  font-family: arial, sans-serif;
}

/* line 12, ../sass/temerity.scss */
h1 {
  font-size: 30pt;
  margin: 0 0 15px 0;
}

/* line 16, ../sass/temerity.scss */
p {
  padding-bottom: 1em;
}

/* line 20, ../sass/temerity.scss */
.center-content {
  width: 960px;
  margin: 0 auto;
}

/* line 25, ../sass/temerity.scss */
.clear {
  clear: both;
}
