/* line 4, ../sass/temerity.scss */
body {
  font-family: arial, sans-serif;
}

/* line 8, ../sass/temerity.scss */
.center-content {
  width: 960px;
  margin: 0 auto;
}

/* line 13, ../sass/temerity.scss */
.clear {
  clear: both;
}
