@import 'mixins';

.media-list{
        list-style-type: none;
        float: right;
        margin-top:11px;

        li {
            float: left;
            margin-left:40px;
            height: 50px;
            width: 50px;

            a {
                display: block;
                height: 100%;
                width: 100%;
            }
        }
        li.twitter {
            background: url(../../images/icons.png) -127px -79px no-repeat;
            &:hover {
                background: url(../../images/icons.png) -129px -155px no-repeat;
            }
        }
        li.video {
            background: url(../../images/icons.png) -12px -79px no-repeat;
            &:hover {
                background: url(../../images/icons.png) -13px -155px no-repeat;
            }
        }
        li.wcl {
            background: url(../../images/icons.png) -240px -79px no-repeat;
            &:hover {
                background: url(../../images/icons.png) -241px -155px no-repeat;
            }
        }

    }

.blurp {
    width: 100%;

    background: $blue;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    background-repeat:no-repeat;

    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    text-align: center;
    color: $blue-lavendar;

    padding: 60px 0 50px;

    strong {
        font-weight: 600;
        color: $white;
    }

    // set up styling for the different background screenshots.

    .about1 {
        font-size: 24pt;
        padding-bottom: 23px;
    }
    .about2 {
        font-size: 20pt;
        padding-bottom: 13px;
    }
    &.faetower{
        background-image: url($faetower);
    }
    &.mistvalley{
        background-image: url($mistvalley);
    }
    &.moonrise {
        background-image: url($moonrise);
    }
    &.shroomvalley{
        background-image: url($shroomvalley);
    }
    &.sunsetwillows{
        background-image: url($sunsetwillows);
    }
    &.zangarra{
        background-image: url($zangarra);
    }
}

#nav-div {
    @include linear-gradient(#b1b8ff, #c9d2ff);
}

#main-nav {

    li {
        float: left;
        font-size: 20pt;
        font-weight: 600;
        padding: 15px 20px;

        a {
            display: block;
            width: 100%;
            height: 100%;
            color: $dark-forest-green;
            text-decoration: none;

            &:hover {
                color: $forest-green;
            }
        }
    }
}
