@import 'mixins';

.media-list{
        list-style-type: none;
        float: right;
        margin-top:11px;

        li {
            float: left;
            margin-left:40px;
            height: 50px;
            width: 50px;

            a {
                display: block;
                height: 100%;
                width: 100%;
            }
        }
        li.twitter {
            background: url(../../images/icons.png) -127px -79px no-repeat;
            &:hover {
                background: url(../../images/icons.png) -129px -155px no-repeat;
            }
        }
        li.video {
            background: url(../../images/icons.png) -12px -79px no-repeat;
            &:hover {
                background: url(../../images/icons.png) -13px -155px no-repeat;
            }
        }
        li.wcl {
            background: url(../../images/icons.png) -240px -79px no-repeat;
            &:hover {
                background: url(../../images/icons.png) -241px -155px no-repeat;
            }
        }

    }

.blurp {
    width: 100%;

    background: $blue;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    background-repeat:no-repeat;

    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    text-align: center;
    color: $blue-lavendar;

    padding: 60px 0 50px;

    strong {
        font-weight: 600;
        color: $white;
    }

    // set up styling for the different background screenshots.

    .about1 {
        font-size: 24pt;
        padding-bottom: 23px;
    }
    .about2 {
        font-size: 20pt;
        padding-bottom: 13px;
    }
    &.faetower{
        background-image: url($faetower);
    }
    &.mistvalley{
        background-image: url($mistvalley);
    }
    &.moonrise {
        background-image: url($moonrise);
    }
    &.shroomvalley{
        background-image: url($shroomvalley);
    }
    &.sunsetwillows{
        background-image: url($sunsetwillows);
    }
    &.zangarra{
        background-image: url($zangarra);
    }
}

#nav-div {
    @include linear-gradient(#b1b8ff, #c9d2ff);
}

#main-nav {

    li {
        float: left;
        font-size: 20pt;
        font-weight: 600;

        a {
            display: block;
            padding: 15px 20px;
            width: 100%;
            height: 100%;
            color: $dark-forest-green;
            text-decoration: none;

            &:hover {
                color: $forest-green;
            }
        }
    }
}

#main-content {
    background: $lightest-teal;
    padding: 15px 0 20px;

    -webkit-box-shadow: inset 0px 9px 24px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 9px 24px -10px rgba(0,0,0,0.75);
    box-shadow: inset 0px 9px 24px -10px rgba(0,0,0,0.75);
}

#killshots {
    padding-bottom: 10px;
    height: 250px;
    overflow:hidden;

    #kill-scroll {
    }

    .kill {
        float: left;
        height: 100%;
        width: 100%;
    }

    .killshots-descript {
        float: left;
        width: 416px;
        margin-right: 15px;
    }
    .killshots-shot {
        float: left;
        position: relative;
        height: 100%;

        .img-descript {
            color: $lavender;
            background: url($transparent-black) center center;
            position:absolute;
            bottom:1px;
            padding: 10px 13px;
            width: 429px;

            h4{
                font-size:17px;
                font-weight: normal;
                margin: 3px 0 8px;
            }
            p{
                height: 2em;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    // custom carousel shit for this area
    .carousel-indicators {
        bottom: 25px;
        width: 429px;
        float: right;
        margin: 0;

        li {
            margin: 0 5px;
            border-color: $lavender;

            &.active {
                background-color: $lavender;
//                height: 10px;
//                width: 10px;
            }
        }
    }
    .carousel-inner {
        height: 250px;
        width: 860px;
        margin: 0 auto;
        margin-bottom: 10px;

        .item {
            height: 230px;
        }
    }

    .carousel-control {
        width: 50px;

        &.left {
            background: none;
        }
        &.right {
            background: transparent;
        }
    }
}

.four-cols {
    float: left;
    width: 213px;
    border-left: 1px solid $dark-forest-green;
    padding: 0 15px;

    h2 {

    }

    &.first {
        border: none;
        padding-left: 0;
    }
}

.three-col {
    float: left;
    width: 300px;
    padding: 10px 15px;

    &.first {
        padding-left: 0;
    }
    &.third {
        padding-right: 0;
    }
}

#footer {
    background: $plum;

    h2 {
        color: $mid-lavender;
    }
}
