// lets set some colors!
$lavender: #c9d2ff;
$mid-lavender: #b8c2ff;
$blue-lavendar: #b7cbea;
$purple: #9987d1;
$plum: #6c5ca0;

$lightest-teal: #abddfe;
$blue: #4c8bce;

$light-green: #a2e5ed;
$forest-green: #307179;
$dark-forest-green: #214158;

$white: #fff;

// Backgrounds for randomBg.
$faetower: '/images/backgrounds/randomBgs/faetower.png';
$mistvalley: '/images/backgrounds/randomBgs/mistvalley.png';
$moonrise: '/images/backgrounds/randomBgs/moonrise.png';
$shroomvalley: '/images/backgrounds/randomBgs/shroomvalley.png';
$sunsetwillows: '/images/backgrounds/randomBgs/sunsetwillows.png';
$zangarra: '/images/backgrounds/randomBgs/zangarra.png';


@mixin linear-gradient($top, $bottom) {
  background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
