@import 'mixins';


body {
    font-family: arial, sans-serif;

}

* {
//    font-family: Comic Sans, Comic Sans MS, cursive !important;
}
h1 {
    font-size: 30pt;
    margin: 0 0 15px 0;
}
h2{
    font-size: 20pt;
    color: $dark-forest-green;
    font-weight: 500;
    margin-bottom: 8px;
}
p {
    padding-bottom: 1em;
}

.center-content {
    width: 960px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

#footer {
    background: $plum;
    color: $mid-lavender;

    -webkit-box-shadow: inset 0px 9px 24px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 9px 24px -10px rgba(0,0,0,0.75);
    box-shadow: inset 0px 9px 24px -10px rgba(0,0,0,0.75);
}
